<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Form</title>
 
</head>

<body class="background-container">

   
<!--<div [ngSwitch]="role">
        <div *ngSwitchCase="'User'">
            <h1>Welcome <span>User</span></h1>
            <app-rooms></app-rooms>
        </div>
        <div *ngSwitchCase="'Admin'">
            <h1>Welcome <span>Admin</span></h1>
            <app-rooms></app-rooms>
        </div>
        <div *ngSwitchDefault>
        your not authorized for this page ...
        </div>
       
   </div>
-->
 <!-- <div>
<ng-template #user></ng-template>
<h1>Welcome User</h1>
  </div>-->
  <!--<app-rooms></app-rooms>-->
 <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
 </app-container>
  <div #name></div>
</body>

</html>
