.even{
    background-color: steelblue;
    color: white;
   font-family: cursive;
}
.odd{
    background-color: tomato;
    color: white;
    font-family: cursive;
   
}

.ti{
    text-align: center;
    color: greenyellow;
}